[Desktop Entry]
Name=Kydpdict
Comment=English-Polish dictionary
Comment[pl]=Słownik angielsko-polski
Exec=kydpdict
Terminal=0
Icon=kydpdict.png
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
